
h1 {
    font-size: 8ch;
    font-family: monospace;
}
body {
    text-align: center;
}

#food {
    font-weight: bold;
    color: green;
}
.beef {
    font-size: 52px;
    background-color: saddlebrown;
    border: 4px solid black;

}

.egg {
    font-size: 31px;
    background-color: lightgoldenrodyellow;
    border: 3px solid black;
}

.burg {
    font-size: 22px;
    background-color: bisque;
    border: 2px solid black;
}
.image-container {
    position: relative;
    text-align: center;

}
.overlay-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%, -50%);
    margin: 0 auto;
}